html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Signika', sans-serif;
  scroll-behavior: smooth;
}

.japierdole {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #EFEEEE;
}

.start__page {
  background-color: #EFEEEE;
  height: 720px;
  width: 1280px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  border: #325D79 2px solid;
  width: 450px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.logo__text {
  font-size: 144px;
  color: #F26627;
}

.logo__description {
  font-size: 36px;
  color: #325D79;
  width: 450px;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

.play {
  background-color: transparent;
  border: #C0392B 1px solid;
  color: #C0392B;
  width: 200px;
  height: 50px;
  font-size: 24px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

a {
  font-size: 24px;
  color: #F26627;
  width: 180px;
  height: 55px;
  margin-left: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  scroll-behavior: smooth;
}

a:hover {
  background-color: #F26627;
  color: #EFEEEE;
}

.line {
  width: 178px;
  height: 0px;
  border: #325D79 1px solid;
  margin-left: 55px;
}

.circle {
  width: 65px;
  height: 65px;
  background-color: transparent;
  border: 2px solid #325D79;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 21px;
  margin-top: 6px;
}

.circle__line {
  width: 0px;
  height: 21px;
  position: absolute;
  display: block;
  border: 1px solid #F26627;
  animation: scroll 2s 1s infinite;
  border-radius: 30%;
}

.circle__arrow {
  width: 6px;
  height: 6px;
  position: absolute;
  display: block;
  border-bottom: 1.5px solid #F26627;
  border-right: 1.5px solid #F26627;
  transform: rotate(45deg);
  margin-top: 8px;
  margin-left: 0;
  margin-right: 0;
}

@keyframes scroll {
  0% {
    transform-origin: top;
    transform: scaleY(0);
  }
  40% {
    transform-origin: top;
    transform: scaleY(1);
  }
  60% {
    transform-origin: bottom;
    transform: scaleY(1);
  }
  100% {
    transform-origin: bottom;
    transform: scaleY(0);
  }
}

.informations {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #EFEEEE;
}

.i_dont_know_how_name_it {
  width: 1280px;
  height: 720px;
  background-color: #EFEEEE;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 160px;
  margin-top: 30px;
}

.left {
  grid-column: 1;
  width: 480px;
  height: 170px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 80px;
}

.left h1 {
  font-size: 64px;
  color: #325D79;
  font-weight: 700;
}

.left p {
  color: #F26627;
  font-size: 24px;
  margin-top: -30px;
}

.right {
  grid-column: 2;
  width: 480px;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 80px;
}

.right h1 {
  font-size: 64px;
  color: #325D79;
  font-weight: 700;
}

.right p {
  color: #F26627;
  font-size: 24px;
}

#info {
  scroll-behavior: smooth;
}
