html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #EFEEEE;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Signika', sans-serif;
}

.box__navigation {
  width: 1244px;
  height: 48px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: center;
}

.box__navigation--list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.box__navigation--list--item {
  width: 206px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  margin-left: 0px;
  animation: slideleft .5s both;
  height: 100%;
  width: 206px;
  float: left;
  animation: color1 .5s both;
}

.box__navigation--list--item a {
  text-decoration: none;
  color: #F26627;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: colora1 .5s both;
}

.box__navigation--list--item a:hover {
  animation: colora2 .5s both;
}

.box__navigation--list--item:nth-child(1) {
  font-size: 32px;
  font-weight: 700;
  margin-left: -10px;
}

.box__navigation--list--item:hover {
  animation: color2 .5s both;
}

.box__navigation--list--item span {
  color: #325D79;
  font-size: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: colors2 .5s both;
}

.box__navigation--list--item span:hover {
  animation: colors1 .5s both;
}

@keyframes colora1 {
  0% {
    color: #EFEEEE;
  }
  100% {
    color: #F26627;
  }
}

@keyframes colora2 {
  0% {
    color: #F26627;
  }
  100% {
    color: #EFEEEE;
  }
}

@keyframes color2 {
  0% {
    background-color: transparent;
    margin-left: 0px;
  }
  100% {
    background-color: #325D79;
    margin-left: 50px;
  }
}

@keyframes color1 {
  0% {
    background-color: #325D79;
    margin-left: 50px;
  }
  100% {
    background-color: transparent;
    margin-left: 0px;
  }
}

@keyframes colors1 {
  0% {
    color: #325D79;
  }
  100% {
    color: #F26627;
  }
}

@keyframes colors2 {
  0% {
    color: #F26627;
  }
  100% {
    color: #325D79;
  }
}

.line {
  width: 1240px;
  border: 2px solid #325D79;
  display: block;
}

.game {
  border: #325D79 2px solid;
  height: 500px;
  margin-top: 50px;
  width: 500px;
}

@media (min-height: 950px) {
  .box {
    margin-top: 100px;
  }
}

@media (min-height: 600px) {
  .box {
    height: 650px;
    margin-top: -10px;
  }
  .game {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }
}
